@import "~bootstrap/dist/css/bootstrap.min.css";
body{
background: #000f2b;
margin:20px;
}

.page{
magrin:10px;
background: white;
height: 100%;
padding:10px;
}

table{
border:1px solid black;
}
table td{
padding:5px;
width: 500px;
border: none
}

table tr{
}

.header{
margin-left: 20px;
color: black;
font-size:16px;
}

.loan-overview{
margin: 20px;
background: white;
}

